<template>
    <div>
        <p>component A</p>
        <component-b />
    </div>
</template>

<script>
import ComponentB from './ComponentB.vue';
export default {
    name: 'ComponentA',
    components: {
        ComponentB,
    },
}
</script>